<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858173552428-2rsbo81c2pegl2ulv350no10aarfha4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858173552428-2rsbo81c2pegl2ulv350no10aarfha4k</string>
	<key>API_KEY</key>
	<string>AIzaSyBqpv2zRLr1uXzicpD3K4Nr_QtPpMpQWUM</string>
	<key>GCM_SENDER_ID</key>
	<string>858173552428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.predictiveMaintenanceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authpart-3f1d3</string>
	<key>STORAGE_BUCKET</key>
	<string>authpart-3f1d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858173552428:ios:aca6df6da0c8c9c9f1de89</string>
</dict>
</plist>